@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default body font family */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Default heading font family */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 500; /*700 seems too strong*/
}
/* Default heading font size */
h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}

/* Swiper slider style */
.hero-slider .swiper-pagination-bullet {
  transition: width 0.3s ease-out;
  border-radius: 4px;
  opacity: 0.7;
  background-color: #fff;
}
.hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  opacity: 1;
}

/* Homepage marquee */
.marquee {
  animation: scroll 18s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1.6rem));
  }
}
