@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default body font family */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
/* Default heading font family */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 500; /*700 seems too strong*/
}
/* Default heading font size */
h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}

/* Swiper slider style */
.hero-slider .swiper-pagination-bullet {
  transition: width 0.3s ease-out;
  border-radius: 4px;
  opacity: 0.7;
  background-color: #fff;
}
.hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  opacity: 1;
}
/* Homepage marquee */
.marquee {
  animation: scroll 18s linear infinite;
}
.quill-editor {
  .ql-container {
    .ql-editor {
      min-height: 250px;
      height: auto;
      overflow: visible !important;
    }
  }
}

/* Xplorers AI Page */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(40) 1s forwards;
}

.chat-content::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: darkgray;
  border-radius: 5px;
}

.chat-content {
  scrollbar-width: thin;
  scrollbar-color: darkgray transparent;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1.6rem));
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* filter: hue-rotate(0deg); */
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  animation: spin 1.5s linear infinite;
}
